.food__salad {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	padding: 24px;
	margin-bottom: 40px;
	background: #fff;
	margin-bottom: 40px;
	border: 2px solid #ddd;
	border-radius: 10px;
}
.food__salad .food__salad__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 14px;
	border-bottom: 1px solid #ddd;
}
.food__salad__title h2 {
	color: #111;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: left;
	display: flex;
	align-items: center;
}
.food__salad__content {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 16px;
	margin-top: 24px;
}
.food__salad__title .btn__detail {
	display: flex;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: right;
	color: #cda922;
	text-decoration: none;
}
.food__salad__title .btn__detail i {
	margin-left: 5px;
}
.food__salad__content h3 {
	color: #111;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
}
