.food__new {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	padding: 24px;
	background: #cda922;
	margin-bottom: 40px;
	border-radius: 10px;
}
.food__new .food__new__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 14px;
	border-bottom: 1px solid #fff;
}
.food__new__title h2 {
	color: #fff;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0em;
	display: flex;
	align-items: center;
	text-align: left;
}
h2 .logo__title {
	margin-right: 15px;
}
.food__new__title .btn__detail {
	display: flex;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	text-align: right;
	color: #fff;
	text-decoration: none;
}
.food__new__title .btn__detail i {
	margin-left: 5px;
}
.food__new__content {
	margin-top: 24px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 16px;
}
.food__item {
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 4px 50px 0px #0000001a;
}
.food__item .food__image img {
	width: 100%;
	display: block;
}
.food__item .food__item__content {
	padding: 12px;
}
.food__item__content h3 {
	color: #111;
	margin-top: 0px;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 10px;
}

.food__size {
	height: 16px;
	width: 16px;
	line-height: 15px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	color: #fff;
	font-size: 10px;
	text-align: center;
	margin-right: 5px;
}
.price p {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.bg-size-S {
	background: #e8c544;
	border: 0.5px solid #e8c544;
}
.bg-size-M {
	background: #cda922;
	border: 0.5px solid #cda922;
}
.bg-size-L {
	background: #a5850d;
	border: 0.5px solid #a5850d;
}
