body {
  padding: 0;
  margin: 0;
<<<<<<< HEAD
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
=======
  font-family: 'Be Vietnam Pro', sans-serif !important;
>>>>>>> feature/mui
  background: url('../public/images/bg-main.png') repeat center;
}

a {
  color: inherit;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p {
  font-family: 'Be Vietnam Pro', sans-serif !important;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
}
.pd-90 {
  padding: 0 90px;
}

p {
  margin-bottom: 0;
}

.food-container{
  z-index: 20;
  position: relative;
  margin-top: -200px;
  margin-bottom: 60px;

}
/* Navbar */
/* @import url("./header.css");
@import url("./navbar.css"); */
@import url("./banner.css");
 /* @import url("./foodnew.css"); */
/* @import url("./foodbelike.css"); */
@import url("./promo.css");
/* @import url("./foodapperizer.css"); */
/* @import url("./foodsalad.css"); */
/* @import url("./service.css"); */
@import url("./videolist.css"); 
@import url("./footer.css"); 
